body {
    background-color: #201f21;
}

header{
    padding:30px;
    font-size: 30px;
    color: white;
    font-family: Verdana;
}

header>img {
    width: 100px;
    float:right;
    margin-right: 10vw;
}

.btn__more {
    padding: 15px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    margin:5px;
}